.exp-icon {
  animation: upDown 3s ease-in-out infinite;
}
.circle-rotate {
  transform: rotate3d(1, 0, 0, 75deg);
  animation: rotateFixed 3s linear infinite;
  transform-style: preserve-3d;
  pointer-events: none;
}

.custom-border {
  background: conic-gradient(
    #ff02af 0deg,
    #fa9348 300deg,
    transparent 300deg,
    transparent 360deg
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 13px),
    black calc(100% - 13px)
  );
  mask: radial-gradient(
    farthest-side,
    transparent calc(100% - 13px),
    black calc(100% - 13px)
  );
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes rotateFixed {
  0% {
    transform: rotate3d(1, 0, 0, 75deg) rotateZ(0deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 75deg) rotateZ(360deg);
  }
}
