@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --logo: #fd1b97;
  --text-header: #333;
  --about-heading: #171717;
  --logo-hover: #fd1b97;
  --background: linear-gradient(135deg, #ffffff, #d1f4f9);
  --background-language: #fff;
  --text-main: #00bb95;
  --icon: #0866ff;
  --text-content: #333;
  --border-btn: #d6d6d6;
  --text-btn: black;
  --foreground: rgb(49, 49, 49);
  --border-hero-gradient: ;
  --border-hero: rgba(208, 208, 208, 0.589);
  --background-hero-right: linear-gradient(
    90deg,
    rgba(240, 252, 253, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  --border-top-hero-right: linear-gradient(
    90deg,
    rgba(255, 173, 244, 1) 0%,
    rgba(107, 255, 156, 1) 58%,
    rgba(149, 122, 255, 1) 100%
  );
  --bg-intro-right: #4bc6ff;
  --border-top-exp: #a1a1a16b;
  --bg-exp-card: linear-gradient(
    249deg,
    rgb(241, 235, 255) 0%,
    rgba(122, 224, 255, 1) 63%,
    rgb(213, 213, 213) 100%
  );
  --bg-skill-card: #fff;
  --border-skill-card: #0088ff50;
  --border-hover-skill-card: #ff60bdc8;
  --text-hover-skill-card: rgb(0, 166, 50);
  --dropdown-icon: #fff;
  --bg-project-card: #fff;
  --shadow-project-card: #7d7d7d80;
  --btn-project-card: #007cb1;
  --border-hover-project-card: #00bfff;
  --border-target: rgba(226, 226, 226, 0.561);
  --target-glow-effect: #d9d9d9;
  --bg-target: #ccf5ff;
  --bg-main-card: #f5f6f7;
}

.dark {
  --logo: #1bfd9c;
  --text-header: #3effac;
  --about-heading: #fd1b97;
  --logo-hover: #82ffc9;
  --background: linear-gradient(
    90deg,
    rgba(13, 18, 36, 1) 0%,
    rgba(13, 21, 48, 1) 100%
  );
  --background-language: #3a3a3a;
  --text-main: #fc5bab;
  --icon: #fc5bab;
  --text-content: #16f2b3;
  --border-btn: #0f1462;
  --text-btn: white;
  --foreground: #e0e0e0;
  --border-hero-gradient: ;
  --border-hero: #ee32ff51;
  --background-hero-right: linear-gradient(to right, #0d1533, #060a3e);
  --border-top-hero-right: linear-gradient(
    90deg,
    rgba(204, 0, 177, 1) 0%,
    rgba(2, 153, 52, 1) 58%,
    rgba(34, 0, 171, 1) 100%
  );
  --bg-intro-right: #005b85;
  --border-top-exp: #ffffff28;
  --bg-exp-card: linear-gradient(
    249deg,
    rgb(45, 42, 54) 0%,
    rgb(1, 40, 52) 63%,
    rgb(19, 12, 64) 100%
  );
  --bg-skill-card: #1b224a;
  --border-skill-card: #0097bd58;
  --border-hover-skill-card: #6ac8ff;
  --text-hover-skill-card: rgb(255, 33, 163);
  --dropdown-icon: #fff;
  --bg-project-card: #0d1224;
  --shadow-project-card: #002f70;
  --btn-project-card: #0053a7;
  --border-hover-project-card: #fd1b97;
  --border-target: rgba(132, 132, 132, 0.298);
  --target-glow-effect: #ffffff;
  --bg-target: #001a33;
  --bg-main-card: #101123;
}

.scroll-top {
  transition: 0.3s ease-in-out;
}
.scroll-top:hover {
  box-shadow: 0 0 3px 3px var(--text-main);
}

.logo {
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--logo);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
  color: var(--logo);
  box-shadow: inset 0 0 10px var(--logo), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.logo:hover {
  color: var(--logo-hover);
  box-shadow: inset 0 0 10px var(--logo), 0 0 9px 3px rgba(255, 255, 255, 0.377);
}

.logo:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.logo:hover:before {
  transform: translateX(15em);
}

.scroll-top {
  overflow: hidden;
}

.icon-fly {
  position: relative;
  transition: transform 0.3s ease;
}

.scroll-top:hover .icon-fly {
  animation: flyLoop 2s linear infinite;
}

@keyframes flyLoop {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(-200%);
  }
}
